body {
    background-color: aqua;
}

navbar-text {
    font-family: Dolphins; 
    color: #fcc604; 
    text-shadow: 10px 10px 15px #e80803, -10px -10px 15px #e80803, 10px -10px 15px #e80803, -10px 10px 15px #e80803;
    font-size: 50px;
}