{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="body">
    <div class="row">
        {% for location in locations %}
        <div class="col-3">
            <div class="card">
                <a href="{% url 'location-detail' location.id %}">
                    <img class="card-img-top" src="/static/reservation_app/{{ location.region_image }}" alt="{{ location.region }}">
                </a>
                <div class="card-body">
                    <p class="text-center mb-0" style="font-family: Dolphins; 
                    color: #fcc604; 
                    text-shadow: 1px 1px 0px #e80803, -1px -1px 0px #e80803, 1px -1px 0px #e80803, -1px 1px 0px #e80803;
                    font-size: 30px;">{{ location.region }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}